altgraph==0.17.2
appdirs==1.4.4
attrs==21.4.0
auto-py-to-exe==2.19.0
beautifulsoup4==4.11.1
bitsets==0.8.3
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
cattrs==1.10.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
comtypes==1.1.11
concepts==0.9.2
cycler==0.11.0
distlib==0.3.4
docopt==0.6.2
Eel==0.12.4
feature-engine==1.2.0
features==0.5.12
fileconfig==0.6
filelock==3.6.0
Flask==2.0.3
fonttools==4.31.2
future==0.18.2
gazpacho==1.1
gevent==21.12.0
gevent-websocket==0.10.1
google==3.0.0
googletrans==3.0.0
graphviz==0.19.1
greenlet==1.1.2
gTTS==2.2.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
installer==0.5.1
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
Js2Py==0.71
keyboard==0.13.5
kiwisolver==1.4.2
lxml==4.8.0
MarkupSafe==2.1.0
matplotlib==3.5.1
MouseInfo==0.1.3
mpmath==1.2.1
music==0.7b1
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.2
patsy==0.5.2
pefile==2021.9.3
Pillow==9.0.1
pipenv==2022.4.8
pipwin==0.5.1
platformdirs==2.5.1
playsound==1.3.0
plyer==2.0.0
psutil==5.9.0
py==1.11.0
PyAudio @ file:///C:/Users/home/pipwin/PyAudio-0.2.11-cp310-cp310-win_amd64.whl
PyAutoGUI==0.9.53
pycparser==2.21
pydub==0.25.1
pygame==2.1.2
PyGetWindow==0.0.9
pyinstaller==5.0
pyinstaller-hooks-contrib==2022.4
pyjokes==0.6.0
pyjsparser==2.7.1
PyMsgBox==1.0.9
pyparsing==3.0.7
PyPDF2==1.27.12
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyRect==0.2.0
PyScreeze==0.1.28
pySmartDL==1.3.4
python-dateutil==2.8.2
pyttsx3==2.90
pytube==12.0.0
pytweening==1.0.4
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.3
pywikihow==0.5.7
pywin32==303
pywin32-ctypes==0.2.0
quote==2.0.4
requests==2.27.1
requests-cache==0.9.3
rfc3986==1.5.0
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2
SpeechRecognition==3.8.1
speedtest-cli==2.1.3
statsmodels==0.13.2
sympy==1.10.1
termcolor==1.1.0
threadpoolctl==3.1.0
tk==0.1.0
tzdata==2021.5
tzlocal==4.1
url-normalize==1.4.3
urllib3==1.26.9
virtualenv==20.14.0
virtualenv-clone==0.5.7
Werkzeug==2.0.3
whichcraft==0.6.1
wikipedia==1.4.0
win10toast==0.9
winspeech==1.0.1
youtube.py==2.1.0
zope.event==4.5.0
zope.interface==5.4.0
